<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="lnb">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/start">start</a></li>
                <li><a href="/info">info</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/register">register</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1> views/index.html </h1>
    </section>
</body>
</html>